<h1>Voici les livres que nous avons en bibliothèque :</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= cl_image_tag book.photo.key, height: 300, width: 400, crop: :fill %>
      <p><%= book.title %></p>
      <%= link_to "voir les détails", book_path(book) %>
    </li>
  <% end %>
</ul>
<%= link_to "Ajouter un livre", new_book_path %>

